.tooltip {
    position: absolute;
    display: inline-block;
     width: 160px;
}

#addGameButton{background-color: #00ff80;}

#experiment {
	height:1000px;
	width: 100px;
	position: absolute;
	left:2px;
	border: 3px solid black;
	background: url("/assets/img/vertikalna_uzarena.jpg");
	background-size: contain;
	background-color: #ffff00;}
#teamHost { width: 100px;

}
#divHost{
	background: url("/assets/img/koza_krupnije.jpg");
}
#teamGuest { width: 100px;background: url("/assets/img/koza_krupnije.jpg");}
#proba{
	padding: 1px 1px;
	font-size: 11px;
	line-height: 12px;
	width: 30px;
}
#myAlert{
	position: absolute;
}
#reset{
	position: relative;
	right: 300px;
	display: inline-block;
	left: 100px;
	
}
#result{
	border: 3px solid black;
	position: absolute;
}
#proba1{
	padding: 1px 1px;
	font-size: 11px;
	line-height: 12px;
	width: 30px;
	color: black;
	background-color: #ffff00;
}
#forHostTable{
	
}

#forTeamForm{
	left: 350px;
	width: 300px;
	position: relative;
}
#forPlayerForm{
	left: 350px;
	top: 50px;
	width: 300px;
	position: absolute;
}
#forHeader{
	height:50px;
	background: url("/assets/img/lopta_plamen_crnobelo.jpg");
	background-size: contain;
    background-repeat: repeat;
     text-align: center;
     font-size: 40px;
}

#mytable >tbody>tr>td{
  height:15px;
  padding:2px;
  text-align: center;
}

#mytable >thead>tr>th{
  height:15px;
  padding:1px 1px;
  text-align: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}